@import '../../../styles/colors';

#footer {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-around;
  background-color: $branding-darkgrey;
  color: $branding-white;

  .footer-group {
    display: flex;
    flex-direction: column;

    p {
      cursor: pointer;
    }
  }
}