@import '../../../styles/colors';

#footer {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  height: 9vh;
  background-color: $branding-darkgrey;
  color: $branding-white;

  .footer-group {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
      padding: 0;
    }
  }
}