#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  width: 300px;

  .register-action-buttons {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    text-align: center;
  }

}