#product {
  width: 270px;
  border: 0.2rem solid #ccc;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;

  .product-title {
    padding: 1rem 0;

  }
  .product-image {
    img {
      width: 270px;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 0 0;
  }
  .product-actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: 1rem;

    input {
      text-align: center;
    }
  }
}