@import '/src/styles/colors';
@import '/src/styles/borders';

#product-tile {
  width: 270px;
  border: $border-light;
  text-align: center;
  padding: 1rem;
  background-color: white;

  .product-title {
    padding: 1rem 0;
    font-size: 1.2rem;
    height: 50px;

  }
  .product-image {
    cursor: pointer;
    img {
      width: 270px;
      height: 270px;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 0 0;

    .discounted-price {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      .discounted-price-striked {
        text-decoration: line-through;
      }
      .discounted-price-total {
        color: red;
      }
    }

  }
  .product-actions {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: 1rem;

    input {
      text-align: center;
    }
  }
}