@import '/src/styles/colors';

#value-tile {
  width: 150px;
  height: 150px;
  color: $branding-white;
  font-size: 5rem;
  border: 0.2rem solid $branding-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}