#cart-item {
  background-color: #ccc;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-around;

  .cart-item-image {
    height: 5rem;
    width: 5rem;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  .cart-item-info {
    width: 10rem;

  }

  .cart-remove-item {
    cursor: pointer;
  }
}