#checkout {
  background-color: #ccc;
  padding: 1rem;
  width: 30rem;

  .checkout-form-group {
    display: flex;
  }

  .billing-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .checkout-action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}