#store {

  .product-filter {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
  }
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}