@import './colors';

$border-light: 0.1rem solid $branding-lightgrey;
$border-dark: 0.1rem solid $branding-darkgrey;
$border-thick-light: 0.2rem solid $branding-lightgrey;
$border-thick-dark: 0.2rem solid $branding-darkgrey;