@import './colors';

$border-light: 0.1rem solid $color-lightgrey;
$border-dark: 0.1rem solid $color-darkgrey;
$border-thick-light: 0.2rem solid $color-lightgrey;
$border-thick-dark: 0.2rem solid $color-darkgrey;