$color-blue: #00BFFFFF;
$color-lightblue: #13DBE3;
$color-darkblue: #003366;
$color-white: #FFFFFF;
$color-lightwhite: #FFFFFF;
$color-darkwhite: #EFEFEF;
$color-grey: #B4B4B4;
$color-lightgrey: #CCCCCC;
$color-darkgrey: #63666A;
$color-red: #EE4B2B;
$color-lightred: #FA674A;
$color-darkred: #D03618;
$color-black: #333333;
$color-lightblack: #454545;
$color-darkblack: #242323;