body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ecommerce-root {

}

#ecommerce-page-root {
  min-height: 100vh;
  padding: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, select, option {
  outline: none;
  border: none;
  height: 2vh;
  font-size: 1rem;
  text-align: center;
}

button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}