@import '/src/styles/borders';

#product-form {
  display: flex;
  flex-direction: column;
  width: 60vw;

  Form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .product-form-fields {
      display: flex;
      gap: 1rem;

      .product-form-third {
        width: 33%;
        display: flex;
        flex-direction: column;

        .carousel {
          border: $border-light;
          border-radius: 5px;
        }

        .upload-button {
          margin: 0.5rem 0;
          height: 50px;
          display: flex;
          gap: 1rem;
        }

        .form-error {
          border: $border-validation;
          border-radius: 5px;
        }

        div[id*='listbox']{
          z-index: 999;
        }

        img {
          width: 310px;
          height: 310px;
          object-fit: cover;
        }
      }
    }

    .product-form-action-buttons {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
    }
  }
}