@import './src/styles/colors';

#tile {
  height: 280px;
  width: 33%;
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  .tile-text {
    width: 50%;
    padding: 1rem;
  }

  .tile-actions {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }
}

.born-to-ski {
  background-image: url("https://res.cloudinary.com/dliog6kq6/image/upload/v1671403988/ecommerce/photo-1551698618-1dfe5d97d256_py7nts.png");
  background-size: cover;
}

.live-to-explore {
  background-image: url("https://res.cloudinary.com/dliog6kq6/image/upload/v1671407117/ecommerce/clement-delhaye-cnluLIyhpBA-unsplash_p8yksa.jpg");
  background-size: cover;
}

.dare-to-push-limits {
  background-image: url("https://res.cloudinary.com/dliog6kq6/image/upload/v1671407440/ecommerce/nicolai-berntsen-OyP-8El8vWk-unsplash_pjzbfz.jpg");
  background-size: cover;
  background-position: center;

  .tile-actions {
    button {
      background-color: $branding-white;
      color: $branding-black;
    }
  }
}
