#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap: 10rem;
  background-image: url("https://res.cloudinary.com/dliog6kq6/image/upload/v1671391037/ecommerce/mountains_ujwd1l.png");
  background-size: cover;
  background-position: -200px 0;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 100%);
}