.subheading {
  text-align: center;
  padding: 0;
  margin: 1rem;
}

.subheading-small {
  font-size: 1.5rem;
}

.subheading-medium {
  font-size: 1.8rem;
}

.subheading-large {
  font-size: 2.3rem;
}