#promotion-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .promotion-form-loader {
    justify-content: center;
  }

  .promotion-date-range {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
  }

  .date-range-text {
    padding: 2rem 0;
  }
  .promotion-actions {
  }
}