#featured-products {
  min-height: 50vh;

  .featured-products {
    padding: 2rem 12vw;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
}