#featured-products {
  min-height: 50vh;

  .featured-products {
    padding: 1rem 10vw 2rem 10vw;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;

  }
}