#about {
  .about-values {
    display: flex;
    .values-text {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .about-story {
    display: flex;
    .story-text {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .about-sustainability {
    display: flex;
    .sustainability-text {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}