#order-item {
  border-radius: 1rem;
  display: flex;
  padding: 1rem 1rem;
  gap: 2rem;
  background-color: white;

  .order-item-image {
    height: 5rem;
    width: 5rem;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  .order-item-info {
    width: 10rem;
  }
}