#error {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .app-error {
    background-color: #cccccc;
    border-radius: 1rem;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .error-icon {
      font-size: 5rem;
    }
  }
}