@import '/src/styles/colors';

#order-product {
  border-radius: 1rem;
  display: flex;
  padding: 1rem 1rem;
  gap: 2rem;
  background-color: $color-white;

  .order-product-image {
    height: 5rem;
    width: 5rem;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  .order-product-info {
    width: 10rem;

    .discounted-price {
      display: flex;
      gap: 0.5rem;
      .discounted-price-striked {
        text-decoration: line-through;
      }
      .discounted-price-total {
        color: $color-red;
      }
    }
  }
}