#trending-products {
  min-height: 50vh;

  .trending-products-loader {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
  }

  .trending-products-row {
    justify-content: space-between;
    display: flex;
    gap: 1rem;
  }
}