#product-filter {
    display: flex;
    gap: 2rem;
    background-color: #ccc;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: center;

    .product-filter-group {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

}