#product-filter {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .product-filter-group {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

}