#cart-product {
  border-radius: 1rem;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  justify-content: space-around;
  background-color: white;

  .cart-product-image {
    height: 5rem;
    width: 5rem;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  .cart-product-info {
    width: 10rem;
  }

  .cart-product-remove {
    cursor: pointer;
  }
}