#cart-product {
  border-radius: 1rem;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  height: 75px;

  .cart-product-image {
    height: 5rem;
    width: 5rem;
    cursor: pointer;

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
  }

  .cart-product-info {
    width: 10rem;

    .discounted-price {
      display: flex;
      gap: 0.5rem;
      .discounted-price-striked {
        text-decoration: line-through;
      }
      .discounted-price-total {
        color: red;
      }
    }
  }

  .cart-product-remove {
    cursor: pointer;
  }
}