@import '../../../styles/colors';

#header {
  position: relative;
  z-index: 999;
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      font-weight: bold;
      padding: 0 2rem;

      svg {
        color: $branding-darkgrey;
      }
    }

    .header-content {
      display: flex;

      .header-information {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0.5rem 5rem;

        .header-shipping {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }

        .header-telephone {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }

        .header-bolded {
          font-weight: bold;
          color: $branding-blue;
        }
      }

      .header-actions {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 0 2rem;

        .header-action {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .header-bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    background-color: $branding-blue;
    color: $branding-white;

    p {
      cursor: pointer;
    }
  }
}