#header {
  height: 4vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: relative;
  z-index: 10;

  .header-group {
    display: flex;
    gap: 1rem;
  }
}