@import '../../../styles/colors';
@import '../../../styles/borders';

#header {
  position: relative;
  z-index: 999;

  .header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: $border-light;

    .header-logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      font-weight: bold;
      padding: 0 1rem;
      cursor: pointer;

      svg {
      }
    }

    .header-content {
      display: flex;

      .header-search {
        padding: 0.2rem 0;
      }

      .header-actions {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 0 2rem;

        .header-action {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .header-bottom {
    padding: 1rem 10rem;
    background-color: $color-darkgrey;
    color: $color-white;

    .header-store-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .dropdown-header{
        text-transform: uppercase;
        font-weight: bold;
      }

      .header-store-link {
        cursor: pointer;
        height: 90%;
        display: flex;
        align-items: center;
      }
    }
  }
}