#chat-bot {
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
  position: fixed;
  right: 1vw;
  bottom: 1vw;
}