#cart-items {
  padding: 1rem 2rem;
  background-color: #ccc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;

  .empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .cart-shipping {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;

    .shipping-price {
      margin: 1rem 0 0 0;
      font-size: 1.5rem;
    }
  }
  .cart-discount {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;

    p {
      margin: 1rem 0;
    }

    .discount-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
  .cart-total {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .cart-action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}